
@font-face {
	font-family: GilroyBold;
	src: url('fonts/Gilroy-Bold.woff') format('woff'),
	url('fonts/Gilroy-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: HelveticaNeue;
	src: url('fonts/HelveticaNeue.woff') format('woff'),
	url('fonts/HelveticaNeue.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-weight: 400;
}