@import "fonts.css";

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1116px;
}
.page-banner {
  padding: 0 0 calc(100% * 1 / 2);
  background-image: url("../img/header-hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-block {
  /*height: 100%;
	position: relative;*/
}

.header-content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  text-align: center;
  width: 100%;
}

.header-title h1 {
  font-family: "GilroyBold";
  font-size: 78px;
  line-height: 1;
  padding: 0 10px;
}

.header-title p {
  font-family: "HelveticaNeue";
  font-size: 25px;
  line-height: 29px;
  margin-top: 20px;
  padding: 0 10px;
}

.header-buttons {
  margin-top: 60px;
}

.header-buttons .btn {
  background: #f88d31;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  font-size: 22px;
  line-height: 1;
  margin: 0 10px;
  padding: 20px 30px;
  font-family: "GilroyBold";
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  .header-buttons .btn:hover {
    background: #fff;
    color: #f88d31;
  }
}

.section-description {
  margin: 60px auto;
}

.section-description p {
  color: #707070;
  font-family: "Arial";
  font-size: 20px;
  line-height: 30px;
  margin-top: 40px;
  text-align: center;
}

.section-description p span {
  color: #707070;
  cursor: pointer;
  font-family: "Arial";
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.section-description p span:hover {
  color: #f88d31;
}

.section-items .items-background {
  background: #f0ebe6;
  padding: 30px 0;
}

.items-flex {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  max-width: 752px;
  margin: 0 auto;
  padding: 30px 0;
}

.items-flex .item-img {
  text-align: center;
  width: 15%;
}

.item-text {
  box-sizing: border-box;
  width: 85%;
  color: #707070;
}

.item-text h2 {
  font-family: "GilroyBold";
  font-size: 30px;
  line-height: 35px;
}

.item-text p {
  font-family: "Arial";
  font-size: 20px;
  line-height: 25px;
  margin-top: 5px;
}

.footer {
  margin-top: 40px;
}
.footer-content {
  background: #3b1c14;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.footer .footer-item {
  width: 38%;
}

.footer .footer-item:first-child {
  width: 22%;
}

.footer .footer-item h2 {
  color: #f88d31;
  font-family: "GilroyBold";
  font-size: 30px;
  line-height: 1;
}

.footer .footer-item h2.office {
  color: #fff;
}

.footer .footer-item p {
  color: #fff;
  font-family: "Arial";
  font-size: 20px;
  line-height: 35px;
}

.footer .footer-item p a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-item p a:hover {
  color: #f88d31;
}

.footer .footer-item .social {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  max-width: 130px;
  margin-top: 40px;
}

.footer svg:hover {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: hoverCommon;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;

  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: hoverCommon;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;

  -o-animation-delay: 0s;
  -o-animation-duration: 0.5s;
  -o-animation-name: hoverCommon;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: 1;

  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: hoverCommon;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.footer .footer-item:last-child {
  padding-top: 25px;
  width: 40%;
}

.footer .social .item {
  width: 33.3333%;
}

.footer-last {
  margin: 60px 0;
}

.footer-last ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-last ul li {
  color: #707070;
  font-family: "Arial";
  font-size: 20px;
  line-height: 1;
  margin: 0 15px;
}

.footer-last ul li a {
  color: #707070;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-last ul li a:hover {
  color: #f88d31;
}

.footer-last .footer-year {
  color: #707070;
  font-family: "Arial";
  font-size: 17px;
  line-height: 1;
  margin-top: 24px;
  text-align: center;
}

/*TABLET VERSION*/
@media (max-width: 1160px) {
  .header-title h1 {
    font-size: 70px;
  }
}

@media (max-width: 1150px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1050px) {
  .header-title h1 {
    font-size: 50px;
  }

  .header-title p {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 1050px) {
  .header-content {
    top: 32%;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .header-title h1 {
    font-size: 30px;
  }

  .header-title p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }

  .header-buttons .btn {
    font-size: 18px;
    margin: 0 10px;
    padding: 12px;
  }

  .section-items .items-background {
    padding: 30px 10px;
  }

  .item-text {
    padding-left: 10px;
  }
  .item-text h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .item-text p {
    font-size: 18px;
    line-height: 20px;
  }

  .footer .footer-item,
  .footer .footer-item:first-child,
  .footer .footer-item:last-child {
    width: 100%;
    text-align: center;
  }

  .footer .footer-item p .mailto {
    font-size: 16px;
  }

  .footer .footer-item .social {
    max-width: 150px;
    margin: 30px auto;
  }
  .footer-last {
    margin: 30px 0;
  }
  .footer-last ul li {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .page-banner {
    padding: 0 0 100%;
  }
}

@media (max-width: 425px) {
  .header-buttons .btn {
    font-size: 14px;
    padding: 10px;
  }
}

// ANIMATIONS
@-moz-keyframes hoverCommon {
  0% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes hoverCommon {
  0% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes hoverCommon {
  0% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hoverCommon {
  0% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
